%h1
  Events
  = link_to "Sync", sync_events_path, class: "btn btn-secondary"

.row.mb-5.mt-5
  .table-responsive
    %table.table.sortable
      %thead
        %tr
          %th Name
          %th Date
          %th Attendees
          %th Giveaways

      %tbody
        - @events.each do |event|
          %tr
            %td= link_to event.name, event
            %td{ "data-sort" => event.date.to_i }= event.date.strftime("%b %-d, %Y")
            %td= event.attendees.count
            %td= event.giveaways.count
