%h1= @event.name

.row.mb-5
  %h2
    Giveaways (#{@event.giveaways.count})
    = link_to "New", new_giveaway_path(event_id: @event.id), class: "btn btn-secondary"

  - if @open_giveaways.exists?
    %h3 Open (#{@open_giveaways.count})
    = render "giveaways/table", giveaways: @open_giveaways.order(:prize)

  - if @drawn_giveaways.exists?
    %h3 Drawn (#{@drawn_giveaways.count})
    = render "giveaways/table", giveaways: @drawn_giveaways.order(:prize)

.row.mb-5
  %h2
    Checked-in Attendees (#{@event.attendees.count})
    = link_to "Sync", sync_attendees_event_path(@event), class: "btn btn-secondary"

  - @event.attendees.order(:name).in_groups(4).each do |group|
    .col
      %ul
        - group.compact.each do |attendee|
          %li= attendee.display_name

.row.mb-5
  %h2 Winners (#{@event.winners.count})
  
  - @event.winners.in_groups(4).each do |group|
    .col
      %ul
        - group.compact.each do |winner|
          %li= winner.attendee.display_name
