= form_for @giveaway do |f|
  - if @giveaway.errors.any?
    #error_explanation
      %h2= "#{pluralize(@giveaway.errors.count, "error")} prohibited this giveaway from being saved:"
      %ul
        - @giveaway.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :event_id
    = f.select :event_id, options_for_select(@events.map { |e| [e.name, e.id] })
  .actions
    = f.submit 'Save'
