.row
  %p
    %b Prize
    = @giveaway.prize
  %p
    %b Event:
    = @giveaway.event.name
  %p
    %b Winners:
    = @giveaway.num_winners
  %p
    = bootstrap_form_for "winners", url: pick_winners_giveaway_path(@giveaway) do |form|
      - if @giveaway.winners.present?
        = form.collection_check_boxes "rerolls", @giveaway.winners, :id, :name, label: "Winners", help: "Check box to re-roll"
      %a.btn.btn-secondary{ role: "button", href: sync_attendees_giveaway_path(@giveaway) } Sync Attendees (#{@giveaway.event.attendees.count})
      = form.submit "Pick winners", class: "btn btn-success"
  
.row
  = link_to 'Edit', edit_giveaway_path(@giveaway)
