!!!
%html
  %head
    %title Wonka
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{ name: "theme-color", content: "#E65F5C" }/
    %link{ rel: "icon", href: "data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎁</text></svg>" }
    %link{ rel: "apple-touch-icon", href: image_path("apple-touch-icon.png") }/
    %link{ crossorigin: "use-credentials", href: "/manifest.json", rel: "manifest" }/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    .main-page
      %nav.navbar.navbar-expand-lg.navbar-light.p-3.site-nav
        %strong
          %a.navbar-brand{ href: root_path } Wonka
        %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", type: "button"}
          %span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse.justify-content-end
          %ul.navbar-nav.mr-auto
            %li.nav-item.active
              %a.nav-link{href: events_path } Events
            %li.nav-item.active
              %a.nav-link{href: giveaways_path } Giveaways
            %li.nav-item
              %a.nav-link{href: new_giveaway_path } New Giveaway
      .container-fluid.p-5
        - if notice
          .alert.alert-info=notice
        - if alert
          .alert.alert-warning.alert
        = yield
    %footer.site-footer.bg-dark.text-center.text-white
      .container.p-4
        %p &copy; #{Time.now.year} NYC Mechanical Keyboard Meetup
        %p
          %a{ href: "https://github.com/nycmkm/wonka" } Code available on GitHub
